<ion-content class="ion-padding custom-background">
  <div class="menu-container">
    <p class="ion-text-center">
      <ion-text color="primary">
        <h1><strong>Adivina el número</strong></h1>
      </ion-text>
      <ion-text>-- DSM Games --</ion-text>
    </p>

    <!-- Opción Jugar -->
    <ion-card class="menu-option" mode="ios" routerLink="/game" class="menu-card-play">
      <ion-card-header>
        <ion-card-title class="menu-card-title">Jugar</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Opción Ranking -->
    <ion-card class="menu-option" mode="ios" routerLink="/leaderboard" class="menu-card-ranking">
      <ion-card-header>
        <ion-card-title class="menu-card-title">Ranking</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Opción Salir -->
    <ion-card class="menu-option" mode="ios" routerLink="/login" class="menu-card-exit">
      <ion-card-header>
        <ion-card-title class="menu-card-title">Salir</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
